@import "./mixins";
@import "./colours";

nav {
	@include flex-box;
	padding: 10px 20px;
	border-bottom: 5px solid darken($primary-light-blue, 25%);
	background: rgb(57,57,57);
	background: linear-gradient(90deg, rgba(57,57,57,1) 0%, rgba(115,172,213,1) 0%, rgba(80,151,201,1) 69%);
	.navbarLogo {
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
	}
	.navbarContents {
		@include flex-box;
		margin-left: auto;
		label {
			font-size: 0;
		}
		.avatar {
			cursor: pointer;
		}
		#avatarUpload, #updateAvatar {
			display: none;
		}
		a {
			margin: 0 10px;
			font-size: 18px;
			text-decoration: none;
			&.newUpload {
				font-size: 30px;
			}
		}
		img {
			width: 20px;
			height: 20px;
			object-fit: cover;
		}
	}
	.navbarMobile {
		display: none;
		width: 100%;
		.mobileNavbarLogo {
			text-align: center;
			padding: 10px 10px 0 10px;
			font-size: 20px;
			&:hover {
				background-color: $primary-light-blue;
			}
		}
		.navbarMobileLinks {
			display: none;
			&.active {
				display: block;
			}
		}
		li {
			list-style-type: none;
		}
		a {
			@include animation-transition(0.1s);
			@include border-box;
			text-decoration: none;
			width: 100%;
			display: block;
			text-align: right;
			padding: 5px;
			&:hover {
				background-color: darken($primary-light-blue, 10%);
			}
		}
		.hamburger {
			width: 100%;
			text-align: right;
			padding: 0 5px 5px 5px;
			&:hover {
				opacity: 1;
			}
			.hamburger-box {
				width: 30px;
				.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
					width: 25px;
					height: 3px;
					border-radius: 0;
					background-color: $primary-black;
				}
				.hamburger-inner {
					&:before {
						top: -7px;
					}
					&:after {
						bottom: -7px;
					}
				}
			}
		}
		.hamburger--3dx.is-active .hamburger-inner:before {
			transform: translate3d(0,7px,0) rotate(45deg);
		}
		.hamburger--3dx.is-active .hamburger-inner:after {
			transform: translate3d(0,-7px,0) rotate(-45deg)
		}
	}
}

@media all and (max-width: 780px) {
	nav {
		padding: 0;
		.navbarLogo {
			display: none;
		}
		.navbarContents {
			display: none;
		}
		.navbarMobile {
			display: block;
		}	
	}
}