@import "./colours";
@import "./mixins";

.sidebar {
	@include animation-transition(0.1s);
	@include border-box;
	width: 20%;
	height: 100vh;
	padding: 20px 0;
	position: fixed;
	left: 0;
	z-index: 100;
	// background-color: $light-grey;
	background: rgb(57,57,57);
	background: linear-gradient(90deg, rgba(57,57,57,1) 0%, rgba(217,217,217,1) 0%, rgba(233,233,233,1) 48%);
	.sidebarToggle {
		@include animation-transition(0.1s);
		position: absolute;
		width: 5px;
		height: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: silver;
		cursor: pointer;
		&:hover {
			background-color: #afafaf;
		}
	}
	&.inactive {
		left: -20%;
	}
	a {
		@include animation-transition(0.1s);
		@include border-box;
		text-decoration: none;
		display: inline-block;
		width: 100%;
		padding: 2.5px 10px;
		&:hover {
			background-color: silver;
		}
	}
	.main {
		padding-bottom: 10px;
		padding-top: 10px;
		border-top: 2px solid silver;
	}
	.tags {
		border-top: 2px solid silver;
		padding-top: 10px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	.heading {
		font-style: italic;
		margin-bottom: 5px;
		padding: 0 10px;
	}
	.searchForm {
		text-align: center;
		margin-bottom: 10px;
		input {
			@include border-box;
			font-size: 16px;
			padding: 10px;
			width: 90%;
		}
	}
}

@media all and (max-width: 780px) {
	.sidebar {
		width: 100%;
		left: -100%;
		&.inactive {
			left: 0;
		}
	}
}